 <!--BANNER INÍCIO-->
 <div class="contain-fluid">
    <div id="carouselExampleCaptions" class="carousel slide"
     data-bs-ride="carousel">
       
        <div class="carousel-inner">
          <div class="carousel-item active"
             data-bs-interval="10000"
             *ngFor="let b of bannerResult let i=index"
             [ngClass]="{active:i===1}"
             >
             
            <img src="https:/image.tmdb.org/t/p/original/{{b.backdrop_path}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>{{ b.original_title || b.original_name }}</h2>
              <p>{{ b.overview }}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
         
        </button>
      </div>
 </div>
  <!--BANNER FIM-->
  <div class="contain mt-3 p-4">
    <app-banner 
            titulo="Trendig" 
            [listarImagem]="trendingMovieResult" >
    </app-banner>
    <app-banner 
            titulo="Action" 
            [listarImagem]="actionMovieResult" >
    </app-banner> 
    <app-banner 
            titulo="Adventure"
            [listarImagem]="adventureMovieResult" >
    </app-banner> 
    <app-banner 
            titulo="Animation" 
            [listarImagem]="animationMovieResult" >
    </app-banner> 
    <app-banner 
            titulo="Comedy" 
            [listarImagem]="comedyMovieResult" >
    </app-banner>   
    <app-banner 
            titulo="Documentary" 
            [listarImagem]="documentaryMovieResult" >
    </app-banner>   
    <app-banner 
            titulo="Sciencefiction" 
            [listarImagem]="sciencefictionMovieResult" >
    </app-banner>   
    <app-banner 
            titulo="Thriller" 
            [listarImagem]="thrillerMovieResult" >
    </app-banner> 
  </div>

 